/* ------------------------------------------------------- */
/* Estilos Login */
.color-guinda {
    background-color: #5f163d!important;
    border-color: #5f163d!important;
}
.borde-arriba-guinda {
    border-top: 4px solid#5f163d!important;
}
/* ------------------------------------------------------- */
/* Estilos Inicio */
.centrar-inicio {
  margin-top: 200px;
} 
#hero-video {
    position: fixed;
    z-index: 0;
    right: 0;
    object-fit: cover;
    bottom: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pantalla {
    opacity: 0.5;
    filter: alpha(opacity=100);
    zoom: 1;
}

.tituloUno {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(124, 122, 122);
    font-size: 35px;
    padding-top: 15px;
}

/* .buscador, .videoBack{
    position: absolute;
} */
.buscador {
    z-index: 2;
}

.videoBack {
    z-index: 0;
}

.pantalla {
    z-index: 1;
}

#centrar {
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------- */
/* Estilos Generales */
.color-morado, #customCheckbox3 {

    color: blue!important;
    background-color: blue!important;
}
/* ------------------------------------------------------- */
/* Estilos Video */
.animacionVideo {
    position: absolute;
    bottom: 160px;
    left: 42.25%;
    opacity: 0; 
  
    animation-name: opacityOn;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  
    animation-name: opacityOff;
    animation-duration: 12s;
    animation-delay: 10ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  
  }
  @keyframes opacityOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  @keyframes opacityOff {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }
  
  /* .contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
/* ------------------------------------------------------- */
/* Estilos Footer */
.colorFooter {
    opacity: .5;
    background-color: #ffffff;
    color: black;
}
.footer {
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
}
.colorTextWhite{
    color: rgb(255, 255, 255);
}
.colorTextBlack{
    color: rgb(0, 0, 0);
}
.colorLink{
    color: #5f163d;
}
/* Dinamismo */
.block {
  height: 500px;
}
div.header {
  width: 100%;
  position: relative;
}

.show, .footer-nav:hover {
  display: block;
}
/* ------------------------------------------------------- */
/* Estilos preLoader */
.contenedorPreloader{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .envolvente{
    position: absolute;
    top: -35px;
    transform: scale(1.5);
  }
  .loader{
    height: 25px;
   width: 1px;
   position: absolute;
   animation: rotate 3.5s linear infinite;
  }
  .loader .dot1{
    top: 30px;
   height: 7px;
   width: 7px;
   background: #8a98c5;
   border-radius: 50%;
   position: relative;
  }
  .loader .dot2{
    top: 30px;
   height: 7px;
   width: 7px;
   background: #2f3882;
   border-radius: 50%;
   position: relative;
  }
  .loader .dot3{
    top: 30px;
   height: 7px;
   width: 7px;
   background: #5f163d;
   border-radius: 50%;
   position: relative;
  }
  .textoPreLoader{
    position: absolute;
    bottom: -85px;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Poppins',sans-serif;
    color: #5f163d;
  }
  @keyframes rotate {
    30%{
      transform: rotate(220deg);
    }
    40%{
    transform: rotate(450deg);
      opacity: 1;
   }
   75%{
    transform: rotate(720deg);
    opacity: 1;
   }
   76%{
    opacity: 0;
   }
   100%{
    opacity: 0;
    transform: rotate(0deg);
   }
  }
  .loader:nth-child(1){
    animation-delay: 0.15s;
  }
  .loader:nth-child(2){
    animation-delay: 0.3s;
  }
  .loader:nth-child(3){
    animation-delay: 0.45s;
  }
  .loader:nth-child(4){
    animation-delay: 0.6s;
  }
  .loader:nth-child(5){
    animation-delay: 0.75s;
  }
  .loader:nth-child(6){
    animation-delay: 0.9s;
  }
/* ------------------------------------------------------- */
/* RESPONSIVE */

/* ------------------------------------------------------- */
/* Nuevo Estilo */

/* ------------------------------------------------------- */